* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  font-size: 16px;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: indianred;
}
section {
  width: 80% ;
  min-width: 300px ;
  max-width: 500px;
  min-height:500px   ;
  margin: 0 auto;
  background-color: indigo;
}
