*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
.block-element{
    font-size: 1.4rem;
    background-color:  pink;
    padding: 10px;
    margin: 30px;
    text-align: center;
}
p{
     font-family: cursive;
     margin: 40px;
     padding: 40px;
     text-align: center;
     background-color: purple;
}
.nav{
background-color: salmon;
padding: 30px;
margin: 36px;
list-style: none;
text-align: center;
}
.nav li{
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
    padding-left: 20px ;
    padding-left: 20px;
}